<%# <h1>Welcome <%= current_user.first_name %></h1> %>

<h1>Players list</h1>
<ul>
  <% @players.each do |player| %>
  <div class="card-product">
  <img src= <%= player.photo %> />
  <div class="card-product-infos">
    <h2><%= link_to player.name, player_path(player) %></h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
  <% end %>
</ul>


<p>
  <%= link_to "Add a new player", new_player_path %>
</p>
