div .box {
  border: none !important;
  display: flex;
  align-items: baseline; /* Align items to the baseline */
  margin: 0;
  padding: 0;
  text-align: center;
  margin: auto;
  .item img {
    vertical-align: baseline; /* Align the image to the baseline */
    width:180px;
    border-radius:10px;
    text-align: center;
  }

}
